
<section id="search" class="search-wrap">
  <h2>“In a sense, who you are has always been a story that you told to yourself. Now your self is a story that you tell to others.”</h2>
<h4>― Geoff Ryman</h4>
</section>

