

<section>
  <div class="hdbs" id='signup'>
    <h2>Signup</h2>

    <form class="form signup-form" id="signup-form">

      <div class="form-group">
        <label for="name-signup">New Username:</label>
        <input class="form-input" type="text" id="name-signup" placeholder="Username..." />
      </div>

      <div class="form-group">
        <label for="password-signup">New Password:</label>
        <input class="form-input" type="password" id="password-signup" placeholder="Password..."/>
      </div>

      <div class="form-group">
        <button class="btn" id="signup-btn" type="submit">Submit</button>
        </div>

    </form>
  </div>
</section>

<script src="./js/signup.js"></script>
