<section>

  <div class="hdbs">
    <h2>Signup</h2>
  </div>

    <div class="signup" role="tabpanel">
      <form class="hdbs" id="signup-form">

      <div>
        <label 
        for="name-signup">Username:</label>
        <input type="text" id="name-signup" />
      </div>

      <div>
        <label 
        for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
      </div>

      
        <button class="btn btn-reverse" id="signup-btn" type="submit">Signup</button>
        <a href="/login">Login instead</a>

      </form>
    </div>
</section>


<script src="./js/signup.js"></script>